#callfor {
  margin-top: clamp(20px, 5vw, 60px);

  .callfor {
    display: flex;
    align-items: center;
    justify-content: center;

    &--box {
      padding: clamp(40px, 10vw, 120px) 0;
      width: 90%;
      max-width: 1200px;
      color: white;
      border-radius: 20px 20px 0 0;

      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p,
        h1,
        img {
          opacity: 0;
          transform: translateY(30px) scale(0.85);
          transition: all 0.8s ease-out;
        }

        p.visible,
        h1.visible,
        img.visible {
          opacity: 1;
          transform: translateY(0) scale(1);
        }

        p {
          text-align: center;
          font-size: clamp(14px, 2.5vw, 30px);
          line-height: clamp(20px, 3.5vw, 45px);
          font-family: "Pacifico", cursive;
        }

        h1 {
          margin-top: clamp(30px, 6vw, 100px);
          font-size: clamp(24px, 5vw, 50px);
          text-align: center;
          font-family: "Pacifico", cursive;
        }

        &--imganima {
          position: relative;
          width: 100%;
          max-width: 500px;
          margin-top: clamp(40px, 10vw, 120px);

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 20px;
            display: block;
          }
          h2 {
            position: absolute;
            top: 2%; // или clamp если нужно
            left: 67%; // фиксируем относительное положение
            transform: translateY(-50%); // только вертикально центрируем
            font-family: "Great Vibes", cursive;
            font-size: clamp(24px, 6vw, 58px);
            color: black;
            text-shadow: 0 0 12px rgba(255, 215, 0, 0.7);
            z-index: 2;
          }

          .icon {
            position: absolute;
            top: clamp(45%, 48%, 50%);
            left: clamp(15%, 18%, 20%);
            transform: translate(-50%);
            font-size: clamp(28px, 8vw, 70px);
            color: #e11d48;
            border-radius: 50%;
            padding: clamp(2px, 0.5vw, 6px);
            animation: pulse 1.5s infinite ease-in-out;
            z-index: 2;
          }
        }
      }
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(225, 29, 72, 0);
    }
    50% {
      transform: scale(1.3);
      box-shadow: 0 0 10px rgba(226, 0, 49, 0.6);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(225, 29, 72, 0);
    }
  }
}
